<header>
  <nav class="nav">
    <ul class="nav-lists">
      <li class="nav-list">
        <a class="btn" routerLink="./try-one" routerLinkActive="active"><i class='bx bx-detail' ></i>Try One</a>
      </li>
      <li class="nav-list">
        <a class="btn" routerLink="./try-two" routerLinkActive="active"><i class='bx bx-detail' ></i>Try Two</a>
      </li>
      <li class="nav-list">
        <a class="btn" routerLink="./try-three" routerLinkActive="active"><i class='bx bx-detail' ></i>Try Three</a>
      </li>
      <li class="nav-list">
        <a class="btn" routerLink="./lab-5" routerLinkActive="active"><i class='bx bx-detail' ></i>Assignment</a>
      </li>
    </ul>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <div>
  <ng-template ngFor [ngForOf]="[10, 20, 30]" let-value let-i="index">
    {{ i }} : {{ value }}<br />
  </ng-template>
</div>

<div>
  <ng-container *ngFor="let value of [10, 20, 30]; let i = index">
    {{ i }} : {{ value }}<br />
  </ng-container>
</div>

<div>
  <ng-template ngFor [ngForOf]="products" let-product let-i="index">
    No. {{ i + 1 }} : [{{ product.code }}] {{ product.name }}<br />
  </ng-template>
</div>

<div>
  <ng-container *ngFor="let product of products; let i = index">
    No. {{ i + 1 }} : [{{ product.code }}] {{ product.name }}<br />
  </ng-container>
</div>

<div>
  <output>External: {{ externalMessage }}</output
  ><br />
  <app-two-ways [(message)]="externalMessage"></app-two-ways>
</div> -->
